.page-title { 
	background: none repeat scroll 0 0 #DEE5E8;
    margin: 0 0 25px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.content { min-height:240px; padding:14px 21px; background:#faf7ee url(../images/bkg_login-box.gif) 0 0 repeat-x; border:1px solid #bbb6a5; border-bottom:0;width:396px; }
 .content h2 { font-weight:bold; font-size:13px; margin:0 0 14px; padding:0 0 5px 23px; border-bottom:1px solid #ddd; background-position:0 1px; background-repeat:no-repeat; text-transform:uppercase; color:#003366; }
 .new-users h2 { background-image:url(../images/i_page1.gif)}
 .registered-users h2 { background-image:url(../images/i_page2.gif); }
 .buttons-set { border:1px solid #bbb6a5; border-top:0; margin:0; padding:30px 13px; background-color:#E6E6E6 ; }
.col2-set { float:left;  }

 .new-users{ float:left; width:440px;margin-right:50px; }
 .registered-users{ float:right;width:440px; margin-left:50px; }
 .page-title{width:970px;border-radius:2px;background-color:#6B838A;height:45px;margin-top:50px;}
 
 .form-list input.input-text {
    width: 254px;
}
.form-list label {
    color: #666666;
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
p.required {
    color: #EB340A;
    font-size: 11px;
    text-align: right;
}
p {
    margin: 0 0 10px;
}
.button   {
    background-color:#BDBDBD;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
    border-radius:3px;
    height:30px;

}
.button a {
    color: #000000;
    font: 12px/15px Arial,Helvetica,sans-serif;
    vertical-align: middle;
}
.button a hover{
	color:white;
}

.form-list label {
    color: #666666;
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
ul, ol {
    list-style: none outside none;
    
    margin: 0;
    padding: 0;

}
.main {
    text-align: left;
}
input.input-text, select, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
}
.content{border-bottom:2px solid;
border-bottom-color:#bbb6a5;}